@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
a{color: white;}
 a:link { color: white; text-decoration: none;}
 a:visited { color: white; text-decoration: none;}
 a:hover { color: white; text-decoration: none;}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    color: #686868;
}

img{
    max-width: 100%;
}
ul{
    list-style: none;
    margin: 0;
}
li{
    list-style: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:1200px){
    .container{
        width: 1150px;
    }
}
@media(min-width:998px) and (max-width:1199px){
    .container{
        width: 960px;
    }
}
@media(min-width:778px) and (max-width:997px){
    .container{
        width: 740px;
    }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/top_background.png');
  text-align: center;
  color: white;
  min-height: 100%;
  
}
.navi{
    padding-top: 30px;
}
.logo{
    display: inline-block;
    float: left;
    width: 180px;
}
@media(max-width:997px){
    .logo{
        width: 120px;
    }
}

.menu{
    display: inline-block;
    float: right;
    font-size: 24px;
}
.menu a:last-child{
    margin-left: 20px;
}
.menu li {
    margin-left:20px;
    display: inline-block;
}

@media (max-width:997px){
    .menu li{
        margin-left: 10px;
    }
}
/* 로그인 창 스타일 */
.mask {
            position:absolute;
            left:0;
            top:0;
            z-index:9999;
            background-color:#000;
            display:none;
            width: 100%;
            height: 100%;
        }
 .window {
    display: none;
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
     
    z-index:99999;
    max-width: 780px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}
@media(min-width:1200px){
    .window{
    padding-left: 80px;
    padding-right: 80px;
    }
}
@media(min-width:998px) and (max-width:1199px){
    .window{
    padding-left: 50px;
    padding-right: 50px;
    }
}
@media(min-width:777px) and (max-width:997px){
    .window{
    padding-left: 50px;
    padding-right: 50px;
    }
}
.window input::-webkit-input-placeholder { color: #6b6b6b;padding-left: 10px; }
.login-group{
    width: 100%;
    margin: 0 auto;
    margin-top:30px; 
    position: relative;
    font-size: 16px;
}
@media(min-width:1200px){
    .login-group{
    width: 380px;
}
}
@media(min-width:998px) and (max-width:1199px){
    .login-group{
    width: 298px;
}
}
@media(min-width:777px) and (max-width:997px){
    .login-group{
    width: 280px;
}
}

.login-group input[type="text"],
.login-group input[type="password"] {
    width: 100%;  /* 원하는 너비 설정 */ 
    height: auto;  /* 높이값 초기화 */
    line-height : normal;  /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
    display: block;
    border:none;
    box-shadow: 1px 2px 0px #e2e2e2 inset;
    font-size: 18px;
}

.login-group label {
  position: absolute;
  top: 1px;  /* input 요소의 border-top 설정값 만큼 */
  left: 1px;  /* input 요소의 border-left 설정값 만큼 */
  padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
  color: #999;
  cursor: text;
}

.login-bt{
    width: 100%;
    margin-top:40px; 
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    background-color: #8ac83e;
    color: white;
    font-size: 18px;
}
.login-title{
    font-size: 36px;
    font-weight: 600;
}
@media(max-width:738px){
    .login-title{
    font-size: 24px;
    font-weight: 600;
}
}
@media(max-width:549px){
    .login-title{
        line-height: 90%;
}
}
/*로그인 레이어팝업창 끝*/
.header-img-1{
        position: absolute;
    clear: both;
    float: left;
    width: 600px;
    margin-left: -1000px;
    top: 35%;    
        animation-name: ani;
        -webkit-animation-name: ani;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-fill-mode:both;
        -webkit-animation-fill-mode:both;
        animation-timing-function:ease-in-out;
        -webkit-animation-timing-function:ease-in-out;
    }


.header-img-2{
    position: absolute;
    clear: both;
    float: left;
    margin-left: -800px;
    top: 65%;
    width: 780px;
    animation-name: ani2;
        -webkit-animation-name: ani2;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-fill-mode:both;
        -webkit-animation-fill-mode:both;
        animation-timing-function:ease-in-out;
        -webkit-animation-timing-function:ease-in-out;
}

@keyframes ani{
    70% {
    margin-left: -1000px;
        }
    100% {
    margin-left: 10%;
        }
	}

@keyframes ani2{
    70% {
    margin-left: -800px;
        }
    100% {
    margin-left: 10%;
        }
	}

@media(min-width:998px) and (max-width:1199px){
    @keyframes ani{
    70% {
    margin-left: -1000px;
        }
    100% {
    margin-left: 7%;
        }
	}
    @keyframes ani2{
    70% {
    margin-left: -800px;
        }
    100% {
    margin-left: 7%;
        }
	}
}

#about{
    position: relative;
    text-align: center;
}
.about-content{
    display: inline-block;
    top: 20%;
    width: 1030px;
    padding-top: 130px;
    padding-bottom: 130px;
}
.about-left{
    display: inline-block;
    text-align: left;
}

.about-title{
    font-size: 50px;
    font-weight: bold;
}
.about-content hr{
    border: 5px solid #8ac83e;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    width: 300px;
    margin-left: 0;
}
.about-infor{
    font-size: 20px;
    font-weight: 400;
}
.about-img{
    display: inline-block;
    width: 480px;
    float: right;
}


#member{
    position: relative;
    background: #f9f9f9;
    padding-top: 150px;
}
.member-content{
    display:block;
    text-align: center;
}
.member-title{
    font-size: 50px;
    font-weight: bold;
}
.member-content hr{
    border: 5px solid #8ac83e;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    width: 300px;
}

#welcome{
    text-align: center;
    font-weight: bold;
    
}

#gallery{
    text-align: center;
    position: relative;
    background: #f9f9f9;
    padding-top: 150px;
}
.gallery-content{
    display:block;
    text-align: center;
}
.gallery-title{
    font-size: 50px;
    font-weight: bold;
}
.gallery-content hr{
    border: 5px solid #8ac83e;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    width: 300px;
}
.upload{
    padding: 0.5em 0.8em;
    border: 1px black solid;
    display: inline-block;
    margin-top: 30px; 
}
.gallery-group{
    width: 100%;
    overflow: auto;
    height: 400px;
    display: inline-block;
    margin-bottom: 100px;
    padding: 30px;
}
.gallery-img{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
    width:200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

#contact{  
    position: relative;
    width: 100%;
    height:600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/contact-bt.png');
}
.contact-content{
    position: absolute;
    right: 55%;
    margin-top: 55px;
}
.contact-content h1{
    color: white;
    text-align: right;
    text-shadow: 1px 1px 10px black;
}
.content{
    display: block;
    width: 400px;
    height: 35px;
    margin-bottom: 30px;
    background-color: #7d8286;
    border: 0;
    color: white;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.contact-content textarea{
    font-family: nanumgothic;
    resize: none;
    height: 100px;
}
::-webkit-input-placeholder { /* Webkit browsers */
color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: white;
opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: white;
opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: white;
}

.send-bt{
    float: right;
    padding: 0.5em 3em;
    background: white;
}

.nav-btn:hover{
    color: aquamarine;
}


/*animation*/
.row-btn, .circle, .row{
	-webkit-transition: all 0.1s ease;
	-moz-transition:    all 0.1s ease;
	-o-transition:      all 0.1s ease;
	-ms-transition:     all 0.1s ease;
	transition:         all 0.1s ease;	
}